
/* ========== Small Mobile (portrait phones) ========== */
@media only screen and (max-width: 767px) {
    /* Styles for very small devices */

    .header-menu{
        display: none;
    }
    .main-header.active-top{
        transform: translateY(0);
    }
    .banner-section .carousel-inner .carousel-item{
        min-height: 80vh;
    }
    .banner-content h6{
        font-size: 1.4rem;
    }
    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content p{
        font-size: 1.2rem;
    }
    .banner-content p br{
        display: none;
    }
    .banner-list li{
        font-size: 1rem;
    }
    .banner-get-quote{
        position: static;
        transform: translateY(0);
        width: 90%;
        margin: 0 auto;
        padding: 60px 0 0;
    }

    .banner-form{
        padding: 2rem 1rem;
    }
    .about-section{
        padding: 100px 0 0px;
    }
    .page-section{
        padding-bottom: 60px;
    }
    .page-header h2{
        font-size: 2rem;
    }
    .page-header-2 h2{
        font-size: 2rem;
    }
    .page-header-2 h2 br{
        display: none;
    }
    .about-content{
        margin-top: 2rem;
    }
    .abt-img-1{
        height: 500px;
    }
    .abt-img-3{
        height: 400px;
        margin-bottom: 2rem;
    }
    .abt-card{
        margin-bottom: 2rem;
    }
    .achievement-item{
        margin-bottom: 2rem;
    }
    .service-content .page-overlap-img{
        display: none;
    }
    .service-content .overlap-inner{
        display: none;
    }
    .card-2{
        margin-bottom: 2rem;
    }
    .card-2:after{
        display: none;
    }
    .choose-rt-img-1{
        height: 500px;
        margin-bottom: 2rem;
    }
    .choose-rt-img-2{
        height: 200px;
    }
    .choose-rt-img-3{
        height: 200px;
    }
    .testimonial:after{
        width: 100%;
    }
    .testimonial-slide::after{
        width: 100%;
    }
    .footer-links{
        padding-left:0;
    }
    .recent-project-slide .splide__arrows{
        display: none;
    }
    .card-4{
        margin-bottom: 2rem;
    }
    .client-logos{
        border-right: 0;
        border-bottom: solid 1px #fff;
        margin-bottom: 2rem;
    }
    .brochure-title h2{
        font-size: 3rem;
        text-align: center;
    }
    .ftr-menu{
        justify-content: center;
    }
    .testimonial-slides .splide__pagination{
        display: none;
    }
    .page-subbanner{
        padding: 6rem 0 5rem;
    }
    .page-breadcrumb{
        margin-top: 2rem;
        justify-content: start;
    }
    .page-subtitle h2{
        font-size: 2rem;
    }
    .page-subtitle p{
        font-size: 1rem;
    }
    .about-section-2{
        padding-bottom: 100px;
    }
    .about-section-2 .row{
        flex-direction: column-reverse;
    }
    .abt-lt-img-shape{
        display: none;
    }
    .abt-lt-img-1,
    .abt-lt-img-2{
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .abt-lt-text{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .about-content-2{
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 2rem;
    }
    .service-center-content{
        flex-wrap: wrap;

    }
    .service-center-list{
        width: 100%;
        padding: 2rem 1rem;
    }

    .service-center-list .service-center-item{
        text-align: center;
    }
    .service-center-list .service-center-item.service-center-lt-item{
        text-align: center;
    }
    .center-img-cirlce{
        width: 100%;
    }
    .faq-accordion .accordion-button{
        font-size: 1.4rem;
    }
    .brochure-title p{
        text-align: center;
    }
    .page-header h2 br{
        display: none;
    }
    .contact-us-info{
        border-left: 0;
        border-top: solid 1px #ccc;
        padding-left: 0;
        padding-top: 2rem;
    }
    .contact-detail-row > div:first-child .contact-us-info{
        border-top: 0;
        padding-top: 0;
    }
    .contact-lt-img{
        padding-right: 0;
    }
    .contact-form{
        margin-top: 2rem;
    }
}

/* ========== Large Mobile (landscape phones, phablets) ========== */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Styles for bigger phones */
    .banner-content h1{
        font-size: 3rem;
    }
    .banner-content p{
        font-size: 1.2rem;
    }
    .banner-section .carousel-inner .carousel-item{
        min-height: 70vh;
    }
}

/* ========== Tablet (portrait tablets) ========== */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Styles for tablets */
    .main-header.active-top{
        transform: translateY(-4px);
    }
    .banner-section .carousel-inner .carousel-item{
        min-height: 80vh;
    }
    .banner-content h1{
        font-size: 3rem;
    }
    .banner-get-quote{
        position: static;
        transform: translateY(0);
        width: 90%;
        margin: 0 auto;
        padding: 60px 0 0;
    }

    .banner-form{
        padding: 2rem 1rem;
    }
    .abt-img-1{
        height: 400px;
        background-position-y: -480px;
    }
    .service-content .page-overlap-img{
        display: none;
    }
    .service-content .overlap-inner{
        display: none;
    }
    .card-2:after{
        display: none;
    }
    .recent-project-slide .splide__arrows{
        display: none;
    }
    .choose-rt-img-1{
        height: 500px;
        margin-bottom: 2rem;
    }
    .choose-rt-img-2{
        height: 200px;
    }
    .choose-rt-img-3{
        height: 200px;
    }
    .page-header h2{
        font-size: 2rem;
    }
    .page-header-2 h2{
        font-size: 2rem;
    }
    .testimonial:after{
        width: 100%;
    }
    .testimonial-slide::after{
        width: 100%;
    }
    .client-logos{
        border-right: 0;
        border-bottom: solid 1px #fff;
        margin-bottom: 2rem;
    }
    .brochure-title h2{
        font-size: 2.5rem;
        /* text-align: center;
        margin-bottom: 2rem; */
    }
    .footer-links{
        padding-left: 0;
    }
    .ftr-menu{
        justify-content: center;
    }
    .page-subbanner{
        padding: 10rem 0 5rem;
    }
    .page-breadcrumb{
        justify-content: start;
        margin-top: 2rem;
    }
    .page-subtitle h2{
        font-size: 2.5rem;
    }
    .page-subtitle p{
        font-size: 1.2rem;
    }
    .about-section-2{
        padding-bottom: 100px;
    }
    .abt-lt-img-shape{
        top: -2rem;
        left: -2rem;
    }
    .abt-lt-img-1{
        left: 3rem;
    }
    .abt-lt-content{
        min-height: 560px;
    }
    .abt-lt-text{
        bottom: 10px;
        left: 15%;
    }
    .service-center-content{
        flex-wrap: wrap;

    }
    .service-center-list{
        width: 100%;
        padding: 2rem 1rem;
    }

    .service-center-list .service-center-item{
        text-align: center;
    }
    .service-center-list .service-center-item.service-center-lt-item{
        text-align: center;
    }
    /* .center-img-cirlce{
        width: 100%;
    } */
    .contact-form{
        margin-top: 2rem;
    }
}

/* ========== Small Laptop ========== */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .banner-get-quote{
        position: static;
        transform: translateY(0);
        width: 90%;
        margin: 0 auto;
        padding: 60px 0 0;
    }

    .banner-form{
        padding: 2rem 1rem;
    }
    .main-header.active-top{
        transform: translateY(-1px);
    }
    /* Styles for small laptops */
    .page-header h2{
        font-size: 2rem;
    }
    .page-header-2 h2{
        font-size: 2rem;
    }
    .testimonial:after{
        width: 60%;
    }
    .testimonial-slide::after{
        width: 70%;
    }
    .abt-img-1{
        height: 400px;
        background-position: center -710px;
    }
    .service-content .page-overlap-img{
        display: none;
    }
    .service-content .overlap-inner{
        display: none;
    }
    .card-2:after{
        left: 82%;
        width: 48%;
    }
    .recent-project-slide .splide__arrows{
        right: 90px;
    }
    .page-subbanner{
        padding: 10rem 0 5rem;
    }
    .page-subtitle h2{
        font-size: 2.5rem;
    }
    .page-subtitle p{
        font-size: 1.2rem;
    }
    .card-2:after{
        display: none;
    }
    .center-img-cirlce{
        width: 300px;
        height: 300px;
    }
    .service-center-list{
        width: 320px;
        padding: 2rem;
    }
    .service-center-list .service-center-item{
        font-size: 1rem;
    }
    .faq-accordion .accordion-button{
        font-size: 1.4rem;
    }
    .faq-accordion .accordion-button span{
        top: 1.2rem;
    }
    .faq-img h4{
        font-size: 1.4rem;
    }
    .brochure-title h2{
        font-size: 2.5rem;
    }
    .contact-form{
        margin-top: 2rem;
    }
}

/* ========== Desktop ========== */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    /* Styles for desktops */
    .menu-link{
        font-size: 0.9rem;
        padding: 0.3rem 0.8rem;
    }
    .banner-get-quote{
        right: 4%;
        width: 420px;
   }
}

@media only screen and (min-width: 1300px) and (max-width: 1445px) {
   .banner-get-quote{
        right: 4%;
        width: 450px;
   }
}

/* ========== Large Screen / TV ========== */
@media only screen and (min-width: 1400px) {
  
}
